@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}


html {
    background: -webkit-linear-gradient(left, #6441A5, #2a0845);
}

body {
    font-family: monserrat, sans-ferif; 
    font-weight: 600;
    /* color: #444;
    background-color: #C9C5B1; */

    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    /* background: -webkit-linear-gradient(left, #6441A5, #2a0845); */
    overflow: hidden;
}

#title,
#description {
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#age {
    margin-right: 100px;
}

input,
select,
textarea {
    padding: 0.4rem;
}