
* {
    padding: 0;
    margin: 0;
}


html {
    background: -webkit-linear-gradient(left, #6441A5, #2a0845);
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
    /* color: #444;
    background-color: #C9C5B1; */
    
    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: -webkit-linear-gradient(left, #6441A5, #2a0845);
    overflow: hidden;
}

#title,
#description {
    margin: 10px;
}

/* #description {
    margin-top: 20px auto;
} */

/* label[for="name"],
label[for="email"] {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

#name, #email {
    padding: 0.1rem;
    margin: 0.7rem;
}

hr {
    height: 2px;
    background-color: #ed1d61;
    border:none
} */